//! Nesting | İç İçe Yazma
header {
  background: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // 2. katman > headerın içindeki "h2"
  h2 {
    color: gray;
  }

  // 2. katman > headerın içindeki "nav"
  nav {
    display: flex;
    gap: 10px;
    //  3.katman > header içindeki navın içindeki "a"
    a {
      font-size: 20px;
    }
  }
}
