//! Değişkenler
// Çok kullanıcığımız renkler pixel değerleri gibi
// değererler bulunuyorsa her sefrerinde yazmak yerine
// değişkene atayp işimizi kolylaştırırız
$font: 30px;
$black: rgb(45, 37, 37);
$radius: 20.9px;
$pad: 10.46px;
