@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  min-height: 100vh;
  display: flex;
  background: black;
  color: white;
  overflow: hidden;
  font-family: "poppins";
}

aside {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px 15px;
}
aside a {
  padding: 20px 10px;
  display: flex;
  gap: 5px;
  border-radius: 10px;
  white-space: nowrap;
  transition: all 0.3s;
}
aside a:hover {
  background: rgb(32, 32, 32);
}
@media (max-width: 870px) {
  aside a span {
    display: none;
  }
  aside a i {
    font-size: 20px;
  }
}
aside #logo {
  display: none;
  width: 40px;
}
aside img {
  max-width: 130px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 870px) {
  aside #text-logo {
    display: none;
  }
  aside #logo {
    display: block;
  }
}

main {
  width: 100%;
}

main header {
  display: flex;
  justify-content: space-between;
  padding: 24px 10px;
}
@media (max-width: 870px) {
  main header {
    justify-content: center;
  }
  main header ul {
    display: none !important;
  }
}
main header form {
  display: flex;
}
main header form input {
  padding: 6px 12px;
  border: none;
  border-radius: 5px 0 0 5px;
}
main header form button {
  background: #1db954;
  height: 100%;
  padding: 0 25px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 0 5px 5px 0;
}
main header form button:hover {
  background: #288e4c;
}
main header ul {
  display: flex;
  list-style: none;
  align-items: center;
}
main header ul li {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 300ms;
}
main header ul li:hover {
  background: rgb(60, 60, 60);
}

main .songs {
  background: rgb(42, 42, 42);
  height: 100%;
}

main #title {
  padding: 20px;
}

main #list {
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 80vh;
  overflow-y: auto;
  gap: 20px;
}
@media (max-width: 768px) {
  main #list {
    justify-content: center;
    gap: 50px;
  }
}
main #list .card {
  width: 200px;
  padding: 15px;
  background: #181818;
  border-radius: 6px;
  cursor: pointer;
}
main #list .card:hover .play {
  opacity: 1;
  bottom: 20px;
}
main #list .card figure {
  position: relative;
}
main #list .card figure img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}
main #list .card figure .play {
  position: absolute;
  right: 10px;
  border-radius: 50%;
  background: #1db954;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  bottom: -20px;
  transition: all 0.3s;
  opacity: 0;
}
main #list .card figure .play:hover {
  background: #288e4c;
  scale: 0.9;
}

.playing {
  position: fixed;
  display: flex;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  z-index: 100;
  padding: 10px 40px;
  width: 100%;
  background-image: linear-gradient(240deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.612);
}
@media (max-width: 768px) {
  .playing {
    font-size: 13px;
    padding: 10px;
  }
}
.playing .info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.playing .info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */